


<!--<h1>Crear una nueva nota: </h1>
<form id="formulario" *ngFor="let nota of mis_notas">
    <input class="form-control" type="text" placeholder="Titulo del Curso" [(ngModel)]="nota.titulo">
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.n1"/>
        </div>
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.p1"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.n2"/>
        </div>
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.p2"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.n3"/> 
        </div>
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.p3"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.n4"/>
        </div>
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.p4"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.n5"/>
        </div>
        <div class="col">
            <input class="form-control" type="text" placeholder="Nota 1" [(ngModel)]="nota.p5"/>
        </div>
    </div>
</form> 
-->
